{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Global Garment Restoration & Cleaners</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ggrcleaners.com" />
		<meta property="og:title" content="Global Garment Restoration and Cleaners" />
		<meta property="og:description" content="Specialists in dry cleaning restoration, Global Garment Restoration & Cleaners has a specific process to handle any type of loss that would affect garments. Our services include odor remediators, soot removal from puff-backs, fire disasters, and water damage." />
        <meta property="og:image" content="{% static 'ggrc-og-img.png' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% block headscript %}
        {% endblock headscript %}
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="full-text">Global Garment Restoration & Cleaners</span><span class="short-text">GGRC</span></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#process">Process</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#aboutus">About Us</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#" data-toggle="modal" data-target="#modalCareers">Careers</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if messages %}
           {% for message in messages %}
             <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <h5 class="text-alert">{{ message }}</h5>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span class="text-alert" aria-hidden="true">&times;</span>
               </button>
             </div>
           {% endfor %}
		 {% endif %}   
        {% block content %}
        {% endblock content %}

       
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-lg-left">Copyright © Global Garment Restoration and Cleaners 2020</div>
                </div>
            </div>
        </footer>
            <div class="modal fade" id="modalCareers" tabindex="-1" role="dialog" aria-labelledby="modalCareersLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCareersLabel">Now Hiring!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Global Garment Restoration & Cleaners LLC. is looking to add  Cleaning Technicians to our team. Join an industry leader!</h5>
                    <h6>General Summary</h6>
                    <p class="careers">To clean, dry and restore property, clothing and contents damaged by fire, smoke, water, sewage, mold or other insurance losses to their original condition by performing the following duties. Other duties may be assigned.</p>
                    <ul class="careers">
                        <li>Must keep facility and all work areas clean daily</li>
                        <li>Know how to use cleaning chemicals and equipment in a safe, effective manner.</li>
                        <li>Drive van/truck, stock & clean van, pick up materials for jobs.</li>
                        <li>Packing/unpacking property, moving boxes from shop to warehouse, inventory of items, keeping a log;</li>
                        <li>Carpet cleaning, upholstery cleaning, clean draperies, fan and dehumidifier set up, use of negative air machine.</li>
                        <li>Move and/or cover furniture clean building structure.</li>
                        <li>Must possess the ability to complete paperwork (monitoring of drying equipment, time card tracking of tasks and jobs, read and follow work orders, track purchases on jobs).</li>
                        <li>Must be able to wear half and full-face respirator.</li>
                    </ul> 
                    <h6>Experience/Skills Sought, but will train:</h6>
                    <ul class="careers">
                        <li>Ideal candidates will have experience in restoration work</li>
                        <li>The ideal candidate will have IICRC certifications</li>
                        <li>Ability to read the Xactimate scope of work</li>
                        <li>Use technology</li>
                        <li>Ability to lift 50 lbs.</li>
                    </ul>
                    <div class="text-center">
                        <p><strong>Salary and Hours:</strong> $10-$12 hourly / 20-40+ hours weekly<p>
                    </div>
                    <hr>
                    <h6>How to Apply</h6>
                    <p><strong>Email Resume to:</strong> <a href="mailto:careers@ggrcleaners.com" style="color:blue;">CAREERS@GGRCLEANERS.COM</a>
                    <br>
                    <strong>In Person: </strong> Monday, Wednesday or Friday 9:30am-3:00pm @ 626 Byberry Rd Philadelphia, PA 19116
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="{% static 'assets/mail/jqBootstrapValidation.js' %}"></script>        <!-- Core theme JS-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        {% block footscript %}
        {% endblock footscript %}
    </body>
</html>
